.wrapper {
	padding-left: 100px;
	padding-right: 100px;
}

.hidden {
	display: none !important;
}

@media screen and (min-width: 1921px) {
	.wrapper {
		padding-left: calc(100px + (100% - 1920px) / 2);
		padding-right: calc(100px + (100% - 1920px) / 2);
	}
}

@media screen and (max-width: 1439px) {
	.wrapper {
		padding-left: 80px;
		padding-right: 80px;
	}
}

@media screen and (max-width: 1239px) {
	.wrapper {
		padding-left: 60px;
		padding-right: 60px;
	}
}

@media  screen and (max-width: 739px) {
	.wrapper {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media  screen and (max-width: 739px) {
	.wrapper {
		padding-left:20px;
		padding-top: 20px;
	}
}