.hidden {
	display: none !important;
}

.wrapper {
	padding-left: 100px;
	padding-right: 100px;
}

.button {
    background: #191A23;
    color: #fff;
    border-radius: 14px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.title {
	display: flex;
	gap: 40px;
	align-items: center;
}

.title__heading {
	font-family: "Space Grotesk", sans-serif;
	font-size: 40px;
	font-weight: 500;
	background-color: #B9FF66;
	border-radius: 7px;
	padding-inline: 7px;
}

.title__description {
	font-family: "Space Grotesk", sans-serif;
	font-size: 18px;
	font-weight: 400;
	width: 580px;
}

@media screen and (min-width: 1921px) {
	.wrapper {
		padding-left: calc(100px + (100% - 1920px) / 2);
		padding-right: calc(100px + (100% - 1920px) / 2);
	}
}

@media screen and (max-width: 1439px) {
	.wrapper {
		padding-left: 80px;
		padding-right: 80px;
	}
}

@media screen and (max-width: 1239px) {
	.wrapper {
		padding-left: 60px;
		padding-right: 60px;
	}
}

@media  screen and (max-width: 739px) {
	.wrapper {
		padding-left: 30px;
		padding-right: 30px;
	}

	.title {
		flex-direction: column;
		gap: 30px;
	}

    .title__heading {
		font-size: 36px;
	}

	.title__description {
		font-size: 16px;
		line-height: 24px;
		width: 100%;
        text-align: center;
		max-width: 100%;
	}
}

@media  screen and (max-width: 739px) {
	.wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
}