.services {
    
}

.services__title {
    margin-bottom: 80px;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.services__service-card {
    width: calc((100% - 40px) / 2);
}

@media screen and (max-width: 1239px) {
   .services__list {
        gap: 35px;
   } 

   .services__service-card {
        width: calc((100% - 35px) / 2);
   }
}

@media screen and (max-width: 579px) {
    .services__title {
        margin-bottom: 40px; 
    }
    
    .services__list {
        flex-direction: column;
        gap: 30px;
    }

    .services__service-card {
        width: 100%;
    }
}

